<div class="verticalize__box container">
  <div class="discounts row">
    <div class="discounts-box col-lg-6 col-lg-offset-3 col-md-push-0 col-md-3">
      <h2>{{page.discounts.title}}</h2>
      <h4>{{page.discounts.subtitle}}</h4>
      <a href="{{page.discounts.link}}" class="btn1 btn--white big findout-more">{{ page.discounts.linktext }}<span class="icon-right-arrow"></span></a>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<ul class="rslides" id="slider1">
  <li><img src="/assets/images/slides/summer.jpg" alt=""></li>
</ul>
