{% assign t = site.t[page.lang] %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{{ t.keywords }}" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/homepage.css" | prepend: site.baseurl }}">
  <!--<link rel="stylesheet" href="{{ "/assets/css/discounts.css" | prepend: site.baseurl }}">-->

  <link href="{{site.url}}/en/" hreflang="x-default" rel="alternate">
  <link href="{{site.url}}/en/" hreflang="en" rel="alternate">
  <link href="{{site.url}}/ru/" hreflang="ru" rel="alternate">

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

  <script src="{{ '/assets/js/modernizr-2.7.1.min.js' | prepend: site.baseurl }}"></script>

  <link rel="shortcut icon" href="/assets/ico/favicon.ico">

  <title>{% if page.title %}{{site.title}} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
