{% assign sorted_posts = (site.posts | sort: "index") %}
{% for post in sorted_posts %}
  {% if post.lang == page.lang %}
    {% if post.type == 'page' %}
      <li><a class="active" href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a></li>
    {% endif %}
    {% if post.type == 'link' %}
      <li><a href='{{post.link}}'>{{post.title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
{% for lang in site.languages %}
  {% assign lang_link = lang.key | prepend: '/' | prepend: site.baseurl %}
  {% if page.lang != lang.key %}
    {% assign post_url = page.url | replace: page.lang, lang.key %}
    {% for post in site.posts %}
      {% if post.url == post_url %}
        {% assign lang_link = post.url | prepend: site.baseurl %}
      {% endif %}
    {% endfor %}
    <li><a href="{{ lang_link }}" ><img height="20" title="{{lang.name}}" alt="{{lang.name}}" src="/assets/images/flags/{{lang.key}}.png"/></a></li>
  {% endif %}
{% endfor %}
