header {
  background-color: #fff;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 5px 0;
}

header .logo {
    background-position: 50% -44px
}

header ul a {
    color: #555 !important
}

header .bars {
    color: #555555
}

#subheader {
    position: relative
}

#subheader .discounts {
    position: relative;
    z-index: 5;
    text-align: center;
}

#subheader .discounts .discounts-box{
    background-color: rgba(104, 148, 51, 0.9);
    border: 10px solid rgba(104, 148, 51, 0.9);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.7) inset;
    padding: 20px;
}

#subheader .discounts h4 {
    display: block;
    margin-bottom: 10px;
    font-weight: 300
}

#subheader .discounts a {
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4)
    margin-bottom: 100px;
}

#subheader .discounts a .icon-right-arrow {
    font-size: 11px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: -15px
}

#subheader .nav-container {
    margin-top: -90px;
    position: relative;
    z-index: 99999
}

#subheader .rslides li:before {
  background-image: none !important;
}
