/* --------------------------------------------------------------------------------------
+
+ Content
+
-------------------------------------------------------------------------------------- */

/*************************************
************************************** 
************************************** 

  validation popup

**************************************
************************************** 
**************************************/


.popup-email {
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0; 
	left: 0;
	z-index: 99999999999;f
	.element {
		width: 300px;
		height: auto;
		position: absolute;
		left: 50%; 
		margin-left: -150px;
		top: 50%;
		margin-top: -50px;
		background-color: #fff;
		display: block;
		@include radius;
		text-align: center;
		padding: 10px;
		@include bs;
		p {
			color:#000;
			margin-bottom: 20px;
			font-family: $base-font;
		}

		button {
			margin: 0 auto 10px;
			
		}
	}
	.success {
		p {
			color: #15ad9e;
		}
	}
	.error {
		p {
			color: #ea5555;
		}
	}
	.blue-btn {
		background-color: #62a7f4;
		@include lh(40px);
		color: #0f122f;
		span {
			margin-left: -17px;
		}
	}
}



/*************************************
************************************** 
************************************** 

  scroll to top

**************************************
************************************** 
**************************************/



#top {
	background-repeat: no-repeat;
	background-image: url('../images/right-arrow1.png');
	background-color: rgba(0, 0, 0, 0.2);
	background-position: 50% 50%;
	@include opacity(1) ;
    bottom: 60px;
    display: block;
    position: fixed;
    right: 30px;
    @include t(.4s);
    z-index: 99;
    @include box(76px);
    transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    &:hover {
		background-color: rgba(0, 0, 0, 0.5);

    }
}



/*************************************
************************************** 
************************************** 

  #subheader section

**************************************
************************************** 
**************************************/

#subheader {
	position: relative;

	article {
		position: relative;
		z-index: 5;
		text-align: left;
		h4 {
			display: block;
			margin-bottom: 20px;
			font-weight: 300;
		}
		h1 {
			display: block;
			margin-left: -12px;
			letter-spacing: -8px;
			
		}
		a {
			margin-top: 50px;
			border: 1px solid rgba(255,255,255,.4); /* stroke */
			.icon-right-arrow {
				font-size: 11px;
				-ms-transform: rotate(90deg); /* IE 9 */
			    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			    transform: rotate(90deg);
			    margin-left: -15px;
			}
		}
	}
	.nav-container {
		margin-top: -90px;
		position: relative;
		z-index: 99999;
	}
}

/*************************************
************************************** 
************************************** 

  #about section

**************************************
************************************** 
**************************************/

#about {
	.container {
		> p {
			width: 60%;
			margin: 0 auto 45px;
			font-weight: 300;
			font-size: 19px;
			color: #484848;
		}
		.about__item {
			text-align: center;
			img {
				padding-bottom: 10px;
			}
			h6 {
				color: #141414;
				margin-bottom: 30px;
			}
			p {
				color: #484848;
				line-height: 1.52;
				font-weight: 300;
			}
		}
	}
}


/*************************************
************************************** 
************************************** 

  #filter section

**************************************
************************************** 
**************************************/


#filter {
	background-color: #0f122f;
	h3 {
		color: #62a7f4;
		&:before {
			background-color: #3f4474;
		}
	}

	#filter_content {
		text-align: center;
		overflow: hidden;

		a {
			@include t(.3s);
			display: block;
			overflow: hidden;
			@include bs;
			background-color: #fff; 
			height:240px;
			width: 100%;
			position: relative;
	        @include scale(1 , 1);
			>img { 
				width: 100%;
				height:auto;
				display: block;
				@include t(.3s);

			}
			.hover { 
		        position: absolute;
				// border: 5px solid #fff;
			    left: 0;
			    top: 0;
			    bottom: 0;
			    right: 0;
			    border: 3px solid #fff;
			    height: 100%;
			    @include fadeout;
		      	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box; 
		        background-color: rgba(97,167,243,0.7);
		        cursor: pointer;
		        text-align: center;
		        padding: 0 20px;
		        transition: all .3s ease-in;
		        img {
		          @include box(50px);
		          margin-bottom: 30px;
		          position: relative;
		          top: -10px;
		          @include fadeout;
		        	transition: all .3s ease-in;
		        }
		        p { 
		        	font-weight: 300;
		        	line-height: 1.52;
		        }
		      }
		      h6 {
		        text-align: center;  
		        margin-bottom: 10px;  
		        text-transform: uppercase;  
		      }
	        	h6,p {
	        		position: relative;
	        		bottom: -10px;
			        @include fadeout;
		        	transition: all .3s ease-in;


	        	}
		    &:hover {
	        	img {
			        // @include scale(0.98 , 0.98);
	        		top: 0;
		            @include fadein;


	        	}
		        .hover {
				    @include fadein;
		        	h6,p {
		        		bottom: 0;
				        @include fadein;

		        	}
		        }
		    }
		}
		.box {
		  	float: left;
	  	  	width: 283px;
		  	height: 240px;
		  	margin-bottom: 2px;
		}

		.box.width2 { width: 568px; }
		.box.height2 { 
			height: 482px;  
			a{
				height: 482px!important;
				>img {
					height: 482px!important;
				}
				
			}
		} 
	} 

	#filters {
		text-align: center;
		margin-bottom: 50px;
		li {
			display: inline-block;
		}
		.filter {
			cursor: pointer;
			width: 170px;
			height: 50px;
			line-height: 47px;
			color: #fff;
			border: 1px solid #31355f;
			background-color: transparent;
			&:hover {
				span { 
					margin-left: 10px;
				}
			} 
			span {
				margin-left: -15px;
				color: #31355f;
			}
		}
	} 

	
}



/*************************************
************************************** 
************************************** 
 
  #heading slogan section

**************************************
************************************** 
**************************************/

#heading-slogan {
	.container {
		text-align: left;
		position: relative;
	}

	h4 {
		color: #0f122f;
		font-weight: 300;
		margin-bottom: 20px;
	}
	h2 {
		color: #e81c3b;
		width: 80%;
		letter-spacing: -3px;	
	}
	a {
		position: absolute;
		top: 50%;
		right: 15px;
		margin-top: -25px;
		span {
			margin-left: -17px;
			color: #0f122f;
			font-size: 11px;
			position: relative;
			top: -1px;
		}
	}
}

/*************************************
************************************** 
************************************** 

  #video

**************************************
************************************** 
**************************************/


#video {
	height: 645px;
	background-image: url('../images/video-img.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	@include cover;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../images/video-opacity.png');
		background-repeat: repeat;
		z-index: 5;
	}
	.console {
		text-align: center;
		margin-bottom: 50px;
		button {
			@include box(100px);
			@include pie(50%);
			border: 2px solid #fff;
			background-color: transparent;
			margin: 0 auto;
			position: relative;
			&:before {
				background-image: url('../images/play.png');
				background-repeat: no-repeat;
				background-position: 55% 0;
				width: 27px;
				height: 34px;
				position: absolute;
				content: "";
				top: 50%;
				margin-top: -16px;
				left: 50%;
				margin-left: -10px;
			}
			&:hover {
				&:before {
					background-position: 55% -36px;
				}
			}
		}
	}
	.findout-more {
		margin-top: 45px;
		&:hover {
			span {
				margin-left: 10px;
			}
		}
		span {
			margin-left: -20px;
			// margin-left: -10px;
			color: #fff;
			position: relative;
			top: -1px;
		}
	}
	h3,p {
		color: #fff;
	}
	p {
		width: 60%;
		margin: 0 auto;
		font-size: 19px;
		font-weight: 300;
	}
}


/*************************************
************************************** 
************************************** 

  #pricing section

**************************************
************************************** 
**************************************/


#pricing {
	background-color: #e81c3b;
	text-align: center;
	h3 {
		position: relative;
		color: #700f1e;
		display: block;
		text-align: center;
		margin-bottom: 60px;
		&:before {
			position: absolute;
			content: "";
			width: 86px;
			background-color: #f38d9d;
			height: 2px;
			top: 100%;
			left: 50%;
			margin-left: -43px;
			margin-top: 30px;
		}
	}
	.container {
		>p {
			color: #fff;
			    font-weight: 300;
			    margin: 0 auto 45px;
			    width: 60%;
			    font-size: 19px;
		}
	}
	.num-price {
		text-align: center;
		position: relative;
		width: 100%;
		max-width: 203px;
		height: 140px;
		border: 2px solid #c8cad5;
		margin: 0 auto 60px;
		h2 {
			font-size: 60px;
			color: #e81c3b;
			letter-spacing: -2px;
		}
		>div {
			position: relative;
			padding: 18px;
			background-color: #fff;
			bottom: 30px;
			width: auto!important;
			display: inline-block;
			text-align: center;
			@include t(.3s);  
			h4 {
				font-size: 24px;
				letter-spacing: 400; 
				color: #0f122f;
				display: block;
				text-align: center;
				width: auto; 
				font-family: $base-font;
				@include t(.3s);
				letter-spacing: 5px;

			}
		}
	}
	article {
		width:275px;
		min-height: 535px;
		background-color: #fff;
		padding: 30px;
		display: inline-block;
		@include t(.3s);
		margin: 5px;
		
		p {
			color: #3f4474;
			font-weight: 300;
			line-height: 1.64;
			@include t(.3s);
			max-width: 225px;
			margin: 0 auto 45px;
		}
		a.medium:hover {
			background-color: #fff;
			color: #0f122f!important;
		}
		&:hover {
			// width: 300px;
			background-color: #0f122f;
			@include scale(1.1);
			// position: relative;
			// margin-left: -8px;
			// z-index: 5;
			// top: -15px;
			// padding-top: 43px;
			// min-height:570px; 
			.num-price {
				>div {
					background-color: #0f122f;
					
				} 
				h4 {
					color: #fff;
				}
			}
			p {
				color: #fff;
			}
			a {
				border: 1px solid #fff;
			}
		}
	}
}


/*************************************
************************************** 
************************************** 

  #customers section

**************************************
************************************** 
**************************************/

#customers {
	padding: 70px 0;
	.container {
		>p {
			color: #3f4474;
			    font-weight: 300;
			    margin: 0 auto 60px;
			    width: 60%;
			    font-size: 19px;
		}
	}
	ul {
		li {
			margin: 0 20px;
			img {
				@include opacity(0.3);
				@include t(.4s);

			}
			&:hover {
				img {
					@include opacity(1);

				}
			}
		}
	}
}

/*************************************
************************************** 
************************************** 

  #follow section

**************************************
************************************** 
**************************************/


#follow {
	position: relative;
	min-height: 430px;
	padding: 0;
	&:after {
		position: absolute;
		top: 0;
		content: "";
		width: 50%;
		background-color: #62a7f4;
		min-height: 430px;
		left: 0;
	}
	&:before {
		position: absolute;
		top: 0;
		content: "";
		width: 50%;
		background-color: #0f122f;
		min-height: 430px;
		right: 0;
	}
	.buzz {
		padding: 90px 0;
		background-color: #62a7f4;
	}
	article {
		min-height: 430px;
		padding:90px;

	}
	.tweet {
		display: block;
		@include box(78px);
		@include pie(50%);
		border: 2px solid #fff;
		padding-top: 18px;
		span {
			font-size: 40px;

		}
	}
	h3 {
		margin-top: 40px;
		margin-bottom: 35px;
	}
	.container { 
		position: relative;
		z-index: 6;
	}
	.follow-slider {
		background-color: #0f122f;
		height: 100%;
		display: block;

	}
	.follow-btn {
		&:hover {
			span {
				margin-left: 10px;
			}
		}
		span {
			margin-left: -25px;
			// margin-left: -10px;
			color: #fff;
			position: relative;
			top: -1px;
		}
	}
}

/*************************************
************************************** 
************************************** 

  #team section

**************************************
************************************** 
**************************************/

#team {
	padding: 0;
	.background-img {
		background-image: url('http://placehold.it/1920x530');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		@include cover;
		padding: 90px 0 290px;
	}
	h3 {
		position: relative;
		color: #fff;
		display: block;
		text-align: center;
		margin-bottom: 60px;
		&:before {
			position: absolute;
			content: "";
			width: 86px;
			background-color: #c8cad5;
			height: 2px;
			top: 100%;
			left: 50%;
			margin-left: -43px;
			margin-top: 30px;
		}
	}
	.container {
		>p {
			color: #fff;
		    font-weight: 300;
		    margin: 0 auto ;
		    width: 60%;
		    font-size: 19px;
		}
	}
	#owl2 {
		margin-top: -188px;
	}
	.team {
		padding: 45px;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		@include bs;
		background-color: #0f122f;
		display: block;
		max-width: 100%;
		text-align: left;

		img {
			width: 42px!important;
			height: 42px!important;
			display: inline-block;
			margin-bottom:20px;
			margin-top: 10px;
		}
		h4 {
			font-size: 25px;
			line-height: 1.1;
		}
		a {
			background-color: transparent;
			width: 100%;
			height: 50px;
			line-height: 50px;
			margin-top: 35px;
			display: block;
			border: 1px solid rgba(255,255,255,.3); /* stroke */

			&:hover  {
				background-color: #e81c3b;
				border-color: #e81c3b;
			}
		}
		.verticalize__box {
			width: 100%; 
		}
	}
}


/*************************************
************************************** 
************************************** 

  #blog section

**************************************
************************************** 
**************************************/


#blog {

	.container {
		>p {
		    font-weight: 300;
		    margin: 0 auto 20px;
		    width: 60%;
		    color: #3f4474;
		    font-size: 19px;
		}
	}
	i {
		color:#e81c3b;
		margin-bottom: 20px;
		&:after {
			display: none;
		}
	}
	.anim-numb {
		color: #3f4474;
		font-size: 60px;
		margin-bottom: 20px;
		font-weight: 700;
	}
	h6 {
		font-size: 15px;
		color: #3f4474;
	}
}


/*************************************
************************************** 
************************************** 

  #contact section

**************************************
************************************** 
**************************************/


#contact {
	background-color: #62a7f4;
	h3 {
		&:before {
			display: none;
		}
	}
	.main-form {
		.row:nth-child(2) {
			margin-top: 70px;
		}
		label {
			position: relative;
			width: 100%;
			&:hover ,&:focus{
				i {
					@include opacity(1) ;

				}
			}
			i {
				position: absolute;
				top:15px;
				font-size: 20px;
				color: #fff;
				@include opacity(0.5) ;
				@include t(.4s);
			}
			span {
				color: #0f122f;
			}
			input {
				margin-bottom: 15px;
			}
			textarea {
				margin-bottom: 15px;
			}
			p.notify {
				position: absolute;
				top: -13px;
				right: 0;
			}
		}
	}

	.human-test {
		margin-top: 45px;
		#test {
			margin-top: 15px;
			p {
				color: #fff;
				font-family: $base-font;
				margin-bottom: 0;
				font-size: 15px;

				span {
					color: #0f122f;
					text-transform: uppercase;
					
				}

			}
		}
		div:nth-child(2) {
			display: block;
			margin-left: 117px;
			label {
				display: inline-block;
				text-align: center;
				margin: 0 10px;
				span {
					@include pie(50%);
					@include box(51px);
					background-color: transparent;
					border: 1px solid #91c2f7;
					color: #fff;
					padding-top: 13px;
					@include t(.4s);
					&:hover {
						background-color: #0f122f;
			        	border-color: #0f122f;
					}
				}
				input {
					display: none;
				}
				input[type="radio"]:checked + span {
			        background-color: #0f122f;
			        border-color: #0f122f;
			    }
			}
		}
	}
	button {
		margin-top: 41px;
		span {
			margin-left: -20px;
			color: #fff;
			position: relative;
			top: -1px;
		}
	}
}


/*************************************
************************************** 
************************************** 

  .map section 

**************************************
************************************** 
**************************************/


.map {
	padding: 0;
	#map {
		height: 540px;
	    width: 100%;
	    position: relative;

	}
	.pin {
		@include box(50px);
		background-color: black;
	}
	.gm-style-iw {
		// overflow-x:hidden!important;
		width: 790px!important;
		padding:50px 0;
		height: auto;
		
	}
	.gmnoprint {
		display: none;
	}

	.infoBox {
		padding: 50px 0;
		position: relative;
		// top: 35px!important;
		display: block;

		img {
			position: absolute!important;
			bottom: 70px;
			left: 50px;
			cursor: pointer;
			z-index: 999999;
		}
		article {
			width: 50%;
			padding: 20px 50px;
		    min-height: 265px;
			position: relative;
			h2 {
				color: #e81c3b;
				margin-bottom: 30px;
			}
			h4 {
				color: #0f122f;
				font-weight: 300;
				line-height: 1.25;
				width: 80%;
			}
			h5 {
				color: #3f4474;
				position: absolute;
				bottom: 24px;
				left: 79px;
			}
		}
		article:nth-child(2) {
			border-left: 2px solid #c8cad5;
			h6 {
				color: #0f122f;
				margin-bottom: 10px;
			}
			p,a {
				color: #3f4474!important;
				font-weight: 300;
				font-size: 19px;
				font-family: $title-font;
				margin-bottom: 10px;
				display: block;
			}
			li {
				display: block;
			}
			li+li {
				margin-top: 5px;
			}
		}
	}

	#content {
		width: 787px!important;
		h2 {
			color: #e81c3b;
			font-weight: 700;
		}
		h4 {
			color: #0f122f; 
		}
		article {
			width: 50%;
			padding:0 50px;
			min-height: 360px;

		}
		article:nth-child(2) {
			border-left:2px solid #c8cad5;
		}
	}
}


.infobox-wrapper {
    display:none;
}
.infoBox {
    background:#fff!important;
    z-index: 99999999999;
	display: block;
}


/*************************************
************************************** 
************************************** 

  #call_us section

**************************************
************************************** 
**************************************/

#call_us {
	background-color: #ffd500;
	.container { 
		position: relative;
	}
	h3 {
		text-transform: uppercase;
		width: 80%;
		span {
			color: #0f122f;
		}
	}
	a {
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -25px;
		span {
			margin-left: -20px;
			color: #fff;
			position: relative;
			top: -1px;
		}
	}
}


/*************************************
************************************** 
************************************** 

  .social section

**************************************
************************************** 
**************************************/

#social {
	background-color: #4F8533;
	padding-top: 25px;
	padding-bottom:45px;
	text-align: center;
	h3 {
		text-align: center;
		text-transform: uppercase;
		span {
			color: #0f122f;
		}
	}
	ul {
		position: relative;
		top: 30px;
		li {
			padding: 0;
			margin-left: 10px;
			a {
				background-color: #ffffff;
				@include pie(50%);
				@include box (51px);
				text-align: center;
				transition:background-color .4s ease-out 1s;
				-o-transition:background-color .4s ease-out 1s;
				-moz-transition:background-color .4s ease-out 1s;
				-webkit-transition:background-color .4s ease-out 1s;
				padding-top: 12px;
				&:hover {
					background-color: #fff;
					@include t(.4s);
				}
				span {
					color: #4F8533;
					font-size: 27px;
				}
			}
		}
	}
}