/* --------------------------------------------------------------------------------------
+
+ BASIC STYLES
+
-------------------------------------------------------------------------------------- */

body {
    color: $text-clr;

    padding-top: 0px;

    #preloader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 999999999999999999999999;
        background: url('../images/preloader.gif') 50% 50% no-repeat #fff;
    }      
    * {
        // -webkit-backface-visibility:hidden; /* Chrome and Safari */
    }


    h1,h2,h3,h4,h5,h6 {
        font-family: $base-font;
        line-height: 1;
        color: $title-clr;
        position: relative;
        z-index: 2;
    }

    h1 {
        font-size: 140px;
    }

    h2 {
        font-size: 65px;
    }

    h3 {
        font-size: 35px;
    }

    h4 {
        font-size: 27px;
        font-family: $title-font;
    }

    h5 {
        font-size: 19px;
        font-family: $title-font;
    }

    h6 {
        font-size: 15px;
    }
}

a {
    outline: none;  /* removing outline in Mozilla */
    @include transition(all .2s ease);
    text-decoration: none;
    color: $link-clr!important;
    font-family: $base-font;
    font-size: 15px;
    &:active {
        background-color: transparent;
    }
    &:hover {
        color: $link-hover;
        text-decoration: none;
    }
    &:focus {
        outline:none!important;
        text-decoration: none;
    }
}

//BORDER BOX FTW
*,
*:before,
*:after {
    @include box-sizing(border-box);    /* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
}

p {
    margin-bottom: $space;
    clear: both;
    font-size: 17px;
    font-family: $title-font;
}

img {
    vertical-align: top;
}

table {
    width: 100%;
}

strong {
    font-weight: bold;
}


//CLEARING FLOAT (always extend .clearfix class)
.clearfix {
    @include pie-clearfix;
}

//SELECTED TEXT
// @include selected-text;

//HIDE CLASS
.hide {
    display: none !important;
}

.remove {
    visibility: hidden;
    opacity: 0;
}

.block {
    display: block!important;
}

.inline {
    display: inline-block!important;
}

.no-flote {
    float: none!important;
}

.center {
    text-align: center!important;
    margin:0 auto;
}

//SETTING FORM ELEMENTS
button:hover,
input[type="submit"]:hover,
label {
    cursor: pointer;
}

textarea {
    margin: 0;             /* removing margin in Mozilla */
    overflow: auto;        /* for IE and older browsers */
}

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
    *vertical-align: baseline;
}

//removing webkit outline
input:focus,
textarea:focus,
button:focus {
    outline: none;
}

//removing odd button padding/margin in Mozilla
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}



/**
 * Add/remove margins
 */
.push           { margin:        $gutter !important; }
.push--top      { margin-top:    $gutter !important; }
.push--right    { margin-right:  $gutter !important; }
.push--bottom   { margin-bottom: $gutter !important; }
.push--left     { margin-left:   $gutter !important; }
.push--ends     { margin-top:    $gutter !important; margin-bottom: $gutter !important; }
.push--sides    { margin-right:  $gutter !important; margin-left:   $gutter !important; }

.push-half          { margin:        round($gutter / 2) !important; }
.push-half--top     { margin-top:    round($gutter / 2) !important; }
.push-half--right   { margin-right:  round($gutter / 2) !important; }
.push-half--bottom  { margin-bottom: round($gutter / 2) !important; }
.push-half--left    { margin-left:   round($gutter / 2) !important; }
.push-half--ends    { margin-top:    round($gutter / 2) !important; margin-bottom: round($gutter / 2) !important; }
.push-half--sides   { margin-right:  round($gutter / 2) !important; margin-left: round($gutter / 2) !important; }

.push-double          { margin:        $gutter * 2 !important; }
.push-double--top     { margin-top:    $gutter * 2 !important; }
.push-double--right   { margin-right:  $gutter * 2 !important; }
.push-double--bottom  { margin-bottom: $gutter * 2 !important; }
.push-double--left    { margin-left:   $gutter * 2 !important; }
.push-double--ends    { margin-top:    $gutter * 2 !important; margin-bottom: $gutter * 2 !important; }
.push-double--sides   { margin-right:  $gutter * 2 !important; margin-left: $gutter * 2 !important; }

.push-triple          { margin:        $gutter * 3 !important; }
.push-triple--top     { margin-top:    $gutter * 3 !important; }
.push-triple--right   { margin-right:  $gutter * 3 !important; }
.push-triple--bottom  { margin-bottom: $gutter * 3 !important; }
.push-triple--left    { margin-left:   $gutter * 3 !important; }
.push-triple--ends    { margin-top:    $gutter * 3 !important; margin-bottom: $gutter * 3 !important; }
.push-triple--sides   { margin-right:  $gutter * 3 !important; margin-left: $gutter * 3 !important; }

.push-quadruple          { margin:        $gutter * 4 !important; }
.push-quadruple--top     { margin-top:    $gutter * 4 !important; }
.push-quadruple--right   { margin-right:  $gutter * 4 !important; }
.push-quadruple--bottom  { margin-bottom: $gutter * 4 !important; }
.push-quadruple--left    { margin-left:   $gutter * 4 !important; }
.push-quadruple--ends    { margin-top:    $gutter * 4 !important; margin-bottom: $gutter * 4 !important; }
.push-quadruple--sides   { margin-right:  $gutter * 4 !important; margin-left: $gutter * 4 !important; }

.push-fivefold          { margin:        $gutter * 5 !important; }
.push-fivefold--top     { margin-top:    $gutter * 5 !important; }
.push-fivefold--right   { margin-right:  $gutter * 5 !important; }
.push-fivefold--bottom  { margin-bottom: $gutter * 5 !important; }
.push-fivefold--left    { margin-left:   $gutter * 5 !important; }
.push-fivefold--ends    { margin-top:    $gutter * 5 !important; margin-bottom: $gutter * 5 !important; }
.push-fivefold--sides   { margin-right:  $gutter * 5 !important; margin-left: $gutter * 5 !important; }


.flush          { margin:        0 !important; }
.flush--top     { margin-top:    0 !important; }
.flush--right   { margin-right:  0 !important; }
.flush--bottom  { margin-bottom: 0 !important; }
.flush--left    { margin-left:   0 !important; }
.flush--ends    { margin-top:    0 !important; margin-bottom: 0!important; }
.flush--sides   { margin-right:  0 !important; margin-left:   0!important; }



.icon-right-arrow {
    font-size: 11px!important;
}
