


#team {

  /* clearfix */
  .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  /* display none until init */
  .owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
  }
  .owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
  } 
  .owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
  }
    
  .owl-carousel .owl-item{
    float: left;

    .item {
      position: relative;
      cursor: pointer;
      @include t(.3s); 
      background-color: #fff;
      
      >img {
        width: 100%;
        @include scale(1 , 1);
        @include t(.3s);

      }
      h4 {
        font-family: $title-font;
      }
      .hover {
        position: absolute;
        z-index: 999999;
        background-color:rgba(97,167,243,0.7);
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        border: 2px solid #fff;
        @include fadeout;
        @include t(.3s);
        img {
          @include box(50px); 
          margin-top: 160px;
          position: relative;
          top: -10px;
          @include fadeout;
          @include t(.3s);
        }
        h6{
          position: relative;
          @include fadeout;
          @include t(.3s);
          text-align: center;  
          margin-top: 100px;
        }
      }
      &:hover {
        >img {
          // @include scale(0.98 , 0.99);
          
        }
        .hover {
          @include fadein;
          img {
            top: 0;
            @include fadein;
            // @include scale(1);
          }
          h6 {
            bottom: 0;
            @include fadein;
          }
        }
      }
    }
  }
  .owl-controls .owl-page,
  .owl-controls .owl-buttons div{
    cursor: pointer;
  }
  .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* mouse grab icon */
  .grabbing { 
      cursor:url(grabbing.png) 8 8, move;
  }

  /* fix */
  .owl-carousel  .owl-wrapper,
  .owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
  }

  .owl-buttons {
    >div {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 46px;
      height: 35px;
      display: block!important;
      @include opacity(0.5) ;
      @include ht;
      @include t(.4s);  
      position: absolute;
      bottom: 100%;
      margin-bottom: 30px;
      &:hover {
        @include opacity(1) ;

      } 
    }
  }

  .owl-prev {
    background-image: url('../images/left-arrow1.png');
    left: 50%;
    margin-left: -55px!important; 
  }
  .owl-next {
    background-image: url('../images/right-arrow1.png');
    right: 50%;
    margin-right: -55px!important;
  }
  .owl-dots {
    display: none;
  }


}