//
// Variables
// --------------------------------------------------
//you can overwrite bootstrap variables
 

//Basic colors
$base-clr:                            	#fff;
$header-bgr:                            #fff;
$footer-bgr:							#fff;

$text-clr: 								#fff;
$text-clr-default:						#000;
$second-clr:							#fff;
$title-clr:								#fff;
$title-clr-default:						#589935;
$link-clr:								#fff;
$link-hover:							#fff;
$border:								#fff;
$input-clr:								#fff;
$input-bgr:								#fff;
$input-border:							#fff;
$btn-clr:								#fff;
$btn-bgr:								#fff;
$btn-hover:								#fff;
$btn-border-orange:                		#fff;

//Used colors
$color-dark:                            #fff;
$color-cold:                            #fff;
$color-warm:                            #fff;
$color-alert:                           #fff;
$color-success:                         #fff;
$color-mute:                            #fff;
$color-white:                           #fff;

//Font
$base-font:                             "Montserrat", sans-serif;;
$title-font:                            "Source Sans Pro", sans-serif;
$icon-font:          					"fontawesome-webfont" !default;

$base-font-size:          				15px;
$fs:$base-font-size;
$base-line-height: 						$base-font-size*1.5;
$lh : $base-line-height;



//LAYOUT
$space:                          		20px;
$page-width:                            1170px;
$radius:								3px;


//SELECT TEXT
$selected-text-bgr:						#000;
$selected-text-clr:						#fff;


//GRID
$gutter:                                20px;
$grid-gutter:                           $gutter;
$grid-wide-gutter:                      30px;